
<div class="page-header">
    <h1>Editez votre profil</h1>
</div>


  <%= simple_form_for(@user, :url => user_path, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="row">
      <div class="col-md-4">

    <%= f.file_field :avatar %>
    <div class="form-group">
      <%= f.label :first_name, "Votre prénom" %>
      <%= f.text_field :first_name, class: 'form-control input-lg' %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, "Votre nom" %>
      <%= f.text_field :last_name, class: 'form-control input-lg' %>
    </div>

    <div class="form-group">
      <%= f.label :birth_place, "Votre lieu de naissance" %>
      <%= f.text_field :birth_place, class: 'form-control input-lg' %>
    </div>

    <div class="form-group">
      <%= f.label :birth_date, "Votre date de naissance" %>
      <br><%= f.datetime_select :birth_date, start_year: 1930, :order => [:day,:month,:year],class: 'form-control input-sm' %>
    </div>


  </div>

  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :pays, "Votre pays de résidence" %>
      <%= f.text_field :pays, class: 'form-control input-lg' %>
    </div>

    <div class="form-group">
      <%= f.label :address, "Votre adresse officielle (ne sera pas publique)" %>
      <%= f.text_field :address, class: 'form-control input-lg' %>
    </div>

    <div class="form-group">
      <%= f.label :phone , "Votre numéro de téléphone" %>
      <%= f.text_field :phone, class: 'form-control input-lg' %>
    </div>
    
    <div class="form-group">
      <%= f.label :skype, "Votre Skype handle" %>
      <%= f.text_field :skype, class: 'form-control input-lg' %>
    </div>

  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :skills, "Vos compétences" %>
      <%= f.text_field :skills, class: 'form-control input-lg' %>
    </div>

    <div class="form-group">

      <%= f.label :contribution, "La contribution que vous souhaitez apporter" %>
      <div class="input-group"><%= f.text_field :contribution, class: 'form-control input-lg' %>
      <span class="input-group-addon">€</span></div>
    </div>

    <div class="field form-group">
      <%= f.label :contribution_frequency, "La fréquence de votre contribution" %>
      <%= f.select :contribution_frequency, @contribution_frequencies, {:include_blank => true}, {class: "form-control input-lg"} %>
  </div>

    <!-- only from admin panel
    <div class="form-group">
      <%= f.label :total_contribution, "Votre contribution totale à ce jour" %>
      <%= f.text_field :total_contribution, class: 'form-control' %>
    </div>
  -->
  </div>
</div>
    
    
    



  <div class="form-actions col-md-8 col-md-offset-2">
    <%= f.submit 'Modifier mon profil', :class => "btn btn-warning btn-lg btn-block" %>
  </div>
<% end %>

</div>

