
<div class="page-header">
    <h1>Editez votre profil</h1>

<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Attention !</strong> Les champs marqués d'un astérisque (<span class="diasred">*</span>) doivent être remplis</p>
</div>

</div>






  <%= simple_form_for(@user, :url => user_path, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
<p class="lead">Vous</p>
    <div class="row">
      

      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :first_name, "Votre prénom" %><span class="diasred"> (*)</span>
          <%= f.text_field :first_name, class: 'form-control input-lg' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :last_name, "Votre nom" %><span class="diasred"> (*)</span>
          <%= f.text_field :last_name, class: 'form-control input-lg' %>
        </div>
      </div>

      <div class="col-md-4 form-group">
      <%= f.label :gender, "Votre sexe" %><span class="diasred"> (*)</span>
      <%= f.select :gender, @genders, {:selected => params[:gender]}, {class: "form-control input-lg"} %>
    
    </div>

      
    </div>


    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :avatar, "Ajoutez votre photo de profil" %>
          <%= f.file_field :avatar, class: "form-control input-lg" %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :birth_place, "Votre lieu de naissance" %>
          <%= f.text_field :birth_place, class: 'form-control input-lg' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :birth_date, "Votre date de naissance" %><span class="diasred"> (*)</span>
          <br><%= f.date_select :birth_date, start_year: 1930, :order => [:day,:month,:year], class: 'form-control input-lg' %>
        </div>
      </div>
    </div>

<p class="lead">Vos coordonnées <br><small>(ne seront pas publiées sur votre profil)</small></p>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <%= f.label :pays, "Votre ville de résidence" %><span class="diasred"> (*)</span>
      <%= f.text_field :pays, class: 'form-control input-lg' %>
    </div>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= f.label :address, "Votre adresse officielle" %>
      <%= f.text_field :address, class: 'form-control input-lg' %>
    </div>
  </div>

   <div class="col-md-3">
    <%= f.label :phone , "Votre numéro de téléphone" %>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <div class="input-group"><span class="input-group-addon">+</span>
          <%= f.text_field :prefix, class: 'form-control input-lg', :placeholder => "32" %></div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="form-group">
          <%= f.text_field :phone, class: 'form-control input-lg', :placeholder => "475757575" %>
        </div>
      </div>
    </div>
    
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <%= f.label :skype, "Votre Skype handle" %>
      <%= f.text_field :skype, class: 'form-control input-lg' %>
    </div>
  </div>
</div>
  
<p class="lead">Votre contribution</p>
  <div class="row">
    <div class="col-md-6">
    <div class="form-group">
      <%= f.label :skills, "Vos compétences" %>
      <%= f.text_field :skills, class: 'form-control input-lg' %>
    </div>
  </div>

  <div class="col-md-2">
    <div class="form-group">
      <%= f.label :contribution, "Votre cotisation" %>
      <div class="input-group"><%= f.text_field :contribution, class: 'form-control input-lg' %>
      <span class="input-group-addon">€</span></div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="field form-group">
      <%= f.label :contribution_frequency, "fréquence" %>
      
      <%= f.select :contribution_frequency, @contribution_frequencies, {:selected => params[:contribution_frequency]}, {class: "form-control input-lg"} %>
    
    </div>
  </div>

    <!-- only from admin panel
    <div class="form-group">
      <%= f.label :total_contribution, "Votre contribution totale à ce jour" %>
      <%= f.text_field :total_contribution, class: 'form-control' %>
    </div>
  -->
  </div>
</div>
    
    
    

<br>

  <div class="form-actions col-md-6 col-md-offset-3">
    <div class="alert alert-warning alert-dismissable text-center">
      Rappel : remplissez tous les champs marqués d'un astérisque <span class="diasred"> (*)</span>.
    </div>
    <%= f.submit 'Modifier mon profil', :class => "btn btn-warning btn-lg btn-block" %>
  </div>
<% end %>

</div>

