
<div class="row">
      <ul class="thumbnails list-unstyled">
<% @projects.each do |project| %>

  
        <li class="col-md-3">
          <div class="thumbnail" style="padding: 0">
            <div style="padding:4px">
              <img alt="300x200" style="width: 200%" src="http://placehold.it/200x150">
            </div>
            <div class="caption">
              <p class="lead"><%= link_to truncate(project.title, :length => 23), project %></p>
              <p>par <%= project.user.name %></p>
              
              <p class="text-right"><i class="glyphicon glyphicon-map-marker"></i><%= project.country %></p>
            </div>
            <div class="modal-footer" style="text-align: left">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.funded_portion %>%;">
                    <!-- <span class="sr-only"><%= project.funded_portion %>% Complete</span> -->
                </div>
              </div>
              <div class="row text-center">
                <div class="col-md-4"><b><%= project.followers_count %></b><br/><small>contributeurs</small></div>
                <div class="col-md-4"><b><%= project.budget %> €</b><br/><small>requis</small></div>
                <div class="col-md-4">
                  <% if project.deadline && project.coming_deadline %>
                  <b><%= project.time_left_display %></b>
                    <br/><small>
                    
                  <% if project.time_left_in_days >= 30 %>
                      mois
                  <% elsif project.time_left_in_hours >= 72 %>
                      jours
                  <% elsif project.time_left_in_hours < 1 %>
                      minutes
                  <% else %>
                      heures
                  <% end %>
              <% else %>
              <b>clôturé</b>
              <% end %>
                  </small></div>
              </div>

              <% if @user == project.user %>
        <br>
        <% if current_user.following?(project) %>
          <%= link_to "Ne plus contribuer", unfollow_project_path(project), class: "btn btn-default btn-block" %>
            
    <% else %>
      <%= link_to "Contribuer", follow_project_path(project), class: "btn btn-warning btn-block" %>
          
    <% end %>
         <!-- <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %> 
        <% end %> -->


            </div>
          </div>
        </li>


     
        
      

    <% end %>

</ul>
</div>






