

<div class="page-header">
  <h1><%= @project.title %>
  <small><% if current_user == @project.user %>
  	<%= link_to edit_project_path(@project) do %>
                  <%= content_tag(:i, " " ,:class=> 'fa fa-edit') -%>
                <% end %>
                <% end %></small></h1>
</div>


<div class="row">

<% if current_user.nonvalidated %>
 <div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h2 class="text-center">
  	<strong>Attention !</strong>
  	<br>Seuls les membres validés ont accès au détail des projets.
  	<br><small> Votre inscription est actuellement en cours de validation par l'équipe Dias'.
	<br>Pour plus d'info, contactez-nous via <%=link_to "projetmbad@gmail.com", "mailto:projetmbad@gmail.com" %></small></h2>
</div>
<% else %>



	

	<div class= "col-md-7">
		<p><img alt="300x200" style="width: 100%" src="http://placehold.it/200x150"></p>
		
		<div class="jumbotron">
			<h3>Description du projet</h3>
  		<p class="smaller"><%= simple_format(@project.description) %></p>
		</div>
	</div>



<div class="col-md-5">


	<div class="jumbotron text-center">

		<h3><%= @project.followers_count %> 
		<br><small>contributeurs</small></h3>

		<div class="divider">
			<h3><%= @project.total_funding %> € 
			<br><small> récoltés sur <%= @project.budget %> € requis</small></h3>
			<div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @project.funded_portion %>%;">
                    <!-- <span class="sr-only"><%= @project.funded_portion %>% Complete</span> -->
                </div>
              </div>
		</div>

		<div class="divider">
			<% if @project.deadline && @project.coming_deadline %>
                  <h3><%= @project.time_left_display %>
                    <small>
                    
                  <% if @project.time_left_in_days >= 30 %>
                      mois restant
                  <% elsif @project.time_left_in_hours >= 72 %>
                      jours restant
                  <% elsif @project.time_left_in_hours < 1 %>
                      minutes restant
                  <% else %>
                      heures restant</h3>
                  <% end %>
              <% else %>
              <h3>La collecte est clôturée</h3>
              <% end %>
		</div>

 		<div class="divider"> 
			<h3>
				<% if current_user.following?(@project) %>
          <%= link_to "Ne plus contribuer pour #{@project.funding} €", unfollow_project_path(@project), class: "btn btn-default btn-lg btn-block" %>
            
        <% else %>
          <%= link_to "Contribuer pour #{@project.funding} €", follow_project_path(@project), class: "btn btn-warning btn-lg btn-block" %>
          
        <% end %>
      </h3>
    </div>

  </div> <!-- fin jumbotron basic data -->
     



<div class="jumbotron">

<div class="row">
			
      
      <div class="col-xs-12 col-sm-8">
      	<h3>Auteur du projet</h3>
				<h4><%= link_to @project.user.name_or_fullname, user_path(@project.user) %>
				<br><small><%= @project.user.pays %></small></h4>
			</div>

			<div class="col-xs-12 col-sm-4 text-center">
        <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
      </div>
		</div>
 </div>

<div class="jumbotron">
	<h3>Contributeurs au projet</h3>


	<% if @project.followers.any? %>
	<ul class="list-unstyled">
	<% @project.followers.each do |backer| %>

	<li>
		<p>
			<div class="row">
			<div class="col-xs-12 col-sm-3 text-center">
			
                        <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                        
                    
                  </div>
                  <div class="col-xs-12 col-sm-9">
			<h4><%= link_to backer.name_or_fullname, user_path(backer) %>
				<br><small><%= backer.pays %></small></h4>
		</div>
	</div>
		</p>
	</li>

	<% end %>

</ul>
	<% end %>

	</div>
	
</div>

<% end %>
</div>
